:root {
  --accent-color: #005eff;
  --warn-color: #ffa500;
  --error-color: #ff0000;
  --divine-border: #575757 1px solid;
  --text-color: #f7f7f7;
  --text-dark-color: #212529;
  --text-disable-color: #575757;

  --font-default: "Roboto", sans-serif;
  --font-monospace: "Roboto Mono", monospace;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  background: url("/img/background.png");
  overscroll-behavior: none;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 16px;
}
h3 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.glass {
  background-color: #ffffff0f;
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass-bottom {
  background-color: #ffffff0f;
  border-bottom: 1px solid #ffffff1a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
