:root {
  --accent-color: #2a86ff;
  --warn-color: #ec9d36;
  --error-color: #ee3333;
  --divine-border: #575757 1px solid;
  --text-color: #f7f7f7;
  --text-dark-color: #212529;
  --text-disable-color: #575757;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  padding: 16px;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

body {
  background: no-repeat center / cover url("/img/background.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
